
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Welcome Email</title>
 <style>
 body {
 font-family: Arial, sans-serif;
 }
 .container {
 max-width: 600px;
 margin: 0 auto;
 padding: 20px;
 border: 1px solid #ddd;
 border-radius: 10px;
 text-align: center;
 }
 .logo {
 width: 100px;
 margin-bottom: 20px;
 }
 .otp {
 font-size: 24px;
 font-weight: bold;
 }
 </style>
</head>
<body>
 <div class="container">
 <img src="../public/logo.jpg" alt="Company Logo" class="logo"> 
 <h1>Welcome to Our Service, {{name}}!</h1>
 <p>Thank you for signing up. Your OTP code is:</p>
 <p class="otp">{{otp}}</p>
 <p>Please use this code to verify your email address.</p>
 <p>Thank you,<br>Team Dham</p>
 </div>
</body>
</html>